[submodule "RLJO/logistic"]
	path = RLJO/logistic
	url = git@github.com:RLJO/logistic.git
	branch = master

[submodule "RLJO/log2"]
	path = RLJO/log2
	url = git@github.com:RLJO/log2.git
	branch = master

[submodule "guohuadeng/app-odoo"]
	path = guohuadeng/app-odoo
	url = git@github.com:guohuadeng/app-odoo.git
	branch = 12.0
