[submodule "RLJO/logistic"]
	path = RLJO/logistic
	url = git@github.com:RLJO/logistic.git
	branch = master

[submodule "RLJO/log2"]
	path = RLJO/log2
	url = git@github.com:RLJO/log2.git
	branch = master

[submodule "waw-odoo/waw"]
	path = waw-odoo/waw
	url = git@github.com:waw-odoo/waw.git
	branch = freight

[submodule "RL-OtherApps/Alshulah-Group"]
	path = RL-OtherApps/Alshulah-Group
	url = git@github.com:RL-OtherApps/Alshulah-Group.git
	branch = 12.0
