[submodule "RLJO/logistic"]
	path = RLJO/logistic
	url = git@github.com:RLJO/logistic.git
	branch = master

[submodule "RLJO/log2"]
	path = RLJO/log2
	url = git@github.com:RLJO/log2.git
	branch = master
